@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    font-size: 16px;
}





/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$primary-color: #66D8D6;
$light-color: #f1f1f1;
$dark-color: #252525;

$heading-font: 'Permanent Marker', cursive;
$body-font: 'Lato', sans-serif;

$h1-size: 4.209rem; /* 67.34px */
$h2-size: 3.157rem; /* 50.52px */
$h3-size: 2.369rem; /* 37.90px */
$h4-size: 1.777rem; /* 28.43px */
$body-size: 1.333rem;   /* 21.33px */
$smaller-body-size: 1rem; /* 16px */

h1, h2, h3, h4 {
  font-family: $heading-font;
  line-height: 1;
}





/*------------------------------------*\
  #HELPER-CLASSES
\*------------------------------------*/

.container {
    // padding-inline: 8.75rem;
    padding-inline: 8rem;
}

.container--narrow {
    // padding-inline: 16.25rem;
    padding-inline: 14rem;
}





/*------------------------------------*\
  #DEFAULT-STYLES
\*------------------------------------*/

section {
  background-color: $dark-color;
  padding-block: 8.75rem;   
}

body {
  font-size: $body-size;
  font-family: $body-font;
  line-height: 1.5;
  background-color: $dark-color;
  color: $light-color;
}





/*------------------------------------*\
  #PAGE-HEADER
\*------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding-block: 2rem;

  &__logo {
    height: 20px;
  }
  
  
  &__link {
    position: relative;
    color: $dark-color;
    font-size: $body-size;
    font-family: $heading-font;
    margin-right: 2rem;
    cursor: pointer;   
  }

  &__link:last-child {
    margin-right: 0px;
  }

  &__underline {
    position: absolute;
    left: 0;
    bottom: -0.2em;  
    width: 0%;
    height: 6px;
    transition: width 0.5s;
  }

  &__link:hover .header__underline--about {
      width: 2.8em;
  }

  &__link:hover .header__underline--menu {
    width: 2.5em;
  }

  &__link:hover .header__underline--location {
    width: 4.2em;
  }
  
}





/*------------------------------------*\
  #HERO-SECTION
\*------------------------------------*/

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5em;
  background-color: $primary-color;
  font-size: $h1-size;
  color: $dark-color;

  &__veggie {
      display: inline-block;
      position: relative;
  }

  &__underline {
      position: absolute;
      left: 0;
      bottom: -0.1em; 
      width: 3em; 
      height: 0.75rem;
  }

  &__image {
      max-width: 40%;
  }

}





/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/

.about {
  display: flex;
  justify-content: space-between;
  
  
    &__3-words {
        font-size: $h2-size;
        color: $primary-color;
        text-align: right;
        margin-right: 3.5rem;
    }

    &__welcome-heading {
        position: relative;
        font-size: $h3-size;
        padding-top: 3.5rem;
        margin-bottom: 3.5rem;
    }

    &__underline {
        position: absolute;
        left: 0;
        bottom: -0.2em;
        width: 3.8em;
        height: 6px;
    }

    &__paragraph {
        max-width: 360px;
    }

}





/*------------------------------------*\
  #MENU SECTION
\*------------------------------------*/

.menu {


  &__header {
    font-size: $h3-size;    
    margin-bottom: 3.5rem;
    position: relative;
  }

  &__underline {
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 6.6em;
    height: 6px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem 2rem;
    justify-content: center;
  }

  &__item {
    max-width: 365px;
  }

  &__image {
    max-width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $h4-size;
    font-family: $heading-font;
    margin: 1rem auto 1rem auto;
  }

}





/*------------------------------------*\
  #DETAILS-SECTION
\*------------------------------------*/

.details {

  
  
  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 280px;
  }

  &__location, &__hours, &__connect {
    flex: 1;

    h3 {
      font-size: $h3-size;
    }

  }


  &__headings {
    border-bottom: 3px solid $primary-color;
    padding-bottom: 0.5rem;
    margin-bottom: 3.5rem
  }

  
  &__number {
    display: flex;
    padding-top: 1rem;

    span {
      width: 25px;
      height: 30px;
      background-image: url("img/phone.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 0.5rem;
    }

  }

  &__hours {

    p {
      padding-bottom: 1rem;
    }

  }


  &__days {
    color: $primary-color;
  }


  &__connect {

    p {
      color: $primary-color;
      padding-bottom: 1rem;
    }

  }

  &__image {
    max-width: 100%;
    height: 100%;
  }

}





/*------------------------------------*\
  #PHOTO-SECTION
\*------------------------------------*/

.photo {
  
  img {
    max-width: 100%;
  }

}





/*------------------------------------*\
  #REGISTER-SECTION
\*------------------------------------*/

.register {
  display: flex;
  justify-content: space-between;
  padding-block: 4rem;
  background-color: $primary-color;
  color: $dark-color;
  min-height: 35vh;

  &__form {
    margin: 48px 24px;
  }

  &__eyes {
    width: 6.5rem;
    height: 32px;
    background-image: url("img/eyes_open.svg");
  }

  &__hand {
    width: 72px;
    height: 5.5rem;
    background-image: url("img/ok_hand.svg");
    align-self: flex-end;
  }

  &__eyes,
  &__hand {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
  
  &__heading {
    font-size: $h3-size;
    margin-bottom: 3rem;
  }

  &__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    border-bottom: solid 3px $light-color;
    padding-bottom: 12px;
  }

  &__email,
  &__submit {
    background: none;
    border: none;
    font-size: $body-size;
    outline: none;
  }

}





/*------------------------------------*\
  #PAGE-FOOTER
\*------------------------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  background-color: $light-color;
  color: $dark-color;
  font-size: $smaller-body-size;

  &__socials a {
    text-decoration: none;
  }

  &__instagram, &__facebook {
    max-width: 1.5rem;
  }

  &__instagram {
    margin-right: 0.5rem;
  }

  &__logo {
    height: 1rem;
  }

}





/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

@media (min-width: 600px) {
  
  .card-wide {
    grid-column: span 2 / auto;
  }

}


@media (min-width: 1080px) {

  .card-tall {
    grid-row: span 2 / auto;
  }
  
}


@media (max-width: 1080px) {

  .register {
    flex-direction: column;
  }

}


@media (max-width: 1040px) {

  html {
    font-size: 12px;
  }

  .details {
    
    &__location, &__hours, &__connect {
      align-self: end;
    }

    &__connect {
      padding-bottom: 36px;
    }

  }

}

@media (max-width: 1020px) {

  .header {
    &__link {
      pointer-events: none;
    }
  }
}

@media (max-width: 860px) {

  html{
    font-size: 10px;
  }

  $smaller-body-size: 14px;

  body {
    font-size: 16px;
  }

  .details {
    
    &__connect {
      padding-bottom: 34px;
    }

  }

}


@media (max-width: 750px) {

  .container {
    padding-inline: 4rem;
  }

  .container--narrow {
    padding-inline: 4rem;
  }

  .about {
    flex-direction: column;

    &__3-words {
      text-align: center;
    }

    &__paragraph {
      max-width: 100%;
    }

  }

}

@media (max-width: 597px) {

  .details {

    &__connect {
      padding-bottom: 0px;
    }

  }
}


@media (max-width: 580px) {
  
  .container {
    padding-inline: 2rem;
  }

  .container--narrow {
    padding-inline: 2rem;
  }

  .hero {
    
    &__text {
      font-size: $h2-size;
    }

  }

  .header {

    &__logo{
      height: 15px;
    }

  }

}

@media(max-width: 420px) {
  
  .hero {

    flex-direction: column-reverse;
    justify-content: center;

    &__text {
      visibility: hidden;
    }

    &__image {
      margin-top: 2rem;
      max-width: 240px;
    }

  }

  .about {

    position: relative;

    &__3-words {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $h1-size;
    }

    &__organic {
      color: $dark-color;
    }

    &__local {
      color: $light-color;
    }
  } 
}






