@use "reset";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Agrandir-GrandHeavy";
  src: url("Agrandir-GrandHeavy.woff2") format("woff2"),
    url("Agrandir-GrandHeavy.woff") format("woff"),
    url("Agrandir-GrandHeavy.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Agrandir-GrandLight";
  src: url("Agrandir-GrandItalic.woff2") format("woff2"),
    url("Agrandir-GrandItalic.woff") format("woff"),
    url("Agrandir-GrandLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

html {
  font-size: 16px;
}

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/
@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin flex-align-center {
  @include flex;

  align-items: center;
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$primary-color: #66d8d6;
$light-color: #f1f1f1;
$dark-color: #252525;

$heading-font: "Agrandir-GrandHeavy";
$body-font: "Lato", sans-serif;

$h1-size: 3.052rem; /* 48.832px */
$h2-size: 2.441rem; /* 39.056px */
$h3-size: 1.953rem; /* 31.248px */
$h4-size: 1.4rem; /* 22.4px */
$body-size: 1.2rem; /* 19.2px */
$smaller-body-size: 1rem; /* 16px */

h1 {
  font-family: $heading-font;
  line-height: 1.1;
}

h2,
h3,
h4 {
  font-family: $heading-font;
  line-height: 1.3;
}

/*------------------------------------*\
  #HELPER-CLASSES
\*------------------------------------*/

.container {
  padding-inline: 8rem;
}

.container--narrow {
  padding-inline: 14rem;
}

.italic {
  font-family: "Agrandir-GrandLight";
}

.uppercase {
  text-transform: uppercase;
}

/*------------------------------------*\
  #DEFAULT-STYLES
\*------------------------------------*/

section {
  background-color: $dark-color;
  padding-block: 8.75rem;
}

body {
  font-size: $body-size;
  font-family: $body-font;
  line-height: 1.5;
  background-color: $dark-color;
  color: $light-color;
}

/*------------------------------------*\
  #PAGE-HEADER
\*------------------------------------*/

.header {
  @include flex-align-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $primary-color;
  padding-block: 1.5rem;
  transition: background-color 1s, padding-block 0.5s;

  &__logo {
    height: 35px;
  }

  &__link {
    position: relative;
    margin-right: 2rem;
    color: $dark-color;
    font-size: $smaller-body-size;
    font-weight: 700;
    font-family: $heading-font;
    text-decoration: none;
    cursor: pointer;
  }

  &__link:last-child {
    margin-right: 0px;
  }

  &__underline {
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 0%;
    height: 6px;
    transition: width 0.5s;
  }

  &__link:hover .header__underline--about {
    width: 4.5em;
  }

  &__link:hover .header__underline--menu {
    width: 4.05em;
  }

  &__link:hover .header__underline--location {
    width: 6.1em;
  }
}

/*------------------------------------*\
  #HERO-SECTION
\*------------------------------------*/

.hero {
  @include flex-align-center;
  padding-block: 0.5em;
  background-color: $primary-color;
  font-size: $h1-size;
  color: $dark-color;

  &__veggie {
    display: inline-block;
    position: relative;
  }

  &__underline {
    position: absolute;
    left: 0;
    bottom: -0.1em;
    width: 3em;
    height: 0.75rem;
  }

  &__image {
    max-width: 40%;
  }
}

/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/

.about {
  @include flex;

  &__3-words {
    font-size: $h2-size;
    color: $primary-color;
    text-align: right;
    margin-right: 3.5rem;
  }

  &__welcome-heading {
    position: relative;
    font-size: $h3-size;
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  &__underline {
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 5.8em;
    height: 6px;
  }

  &__paragraph {
    max-width: 360px;
  }
}

/*------------------------------------*\
  #MENU SECTION
\*------------------------------------*/

.menu {
  &__header {
    font-size: $h3-size;
    margin-bottom: 3.5rem;
    position: relative;
  }

  &__underline {
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 10em;
    height: 6px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem 2rem;
    justify-content: center;
  }

  &__item {
    max-width: 365px;
  }

  &__image {
    max-width: 100%;
  }

  &__title {
    @include flex-align-center;
    font-size: $h4-size;
    font-family: $heading-font;
    margin: 1rem auto 1rem auto;
  }
}

/*------------------------------------*\
  #DETAILS-SECTION
\*------------------------------------*/

.details {
  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 280px;
  }

  &__location,
  &__hours,
  &__connect {
    flex: 1;

    h3 {
      font-size: $h3-size;
    }
  }

  &__headings {
    border-bottom: 3px solid $primary-color;
    padding-bottom: 0.5rem;
    margin-bottom: 3.5rem;
  }

  &__number {
    display: flex;
    padding-top: 1rem;

    span {
      width: 25px;
      height: 30px;
      background-image: url("img/phone.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 0.5rem;
    }
  }

  &__hours {
    p {
      padding-bottom: 1rem;
    }
  }

  &__days {
    color: $primary-color;
  }

  &__connect {
    p {
      color: $primary-color;
      padding-bottom: 1rem;
    }
  }

  &__image {
    max-width: 100%;
    height: 100%;
  }
}

/*------------------------------------*\
  #PHOTO-SECTION
\*------------------------------------*/

.photo {
  img {
    max-width: 100%;
  }
}

/*------------------------------------*\
  #REGISTER-SECTION
\*------------------------------------*/

.register {
  @include flex;
  padding-block: 4rem;
  background-color: $primary-color;
  color: $dark-color;
  min-height: 35vh;
  text-align: center;

  &__form {
    margin: 48px 24px;
  }

  &__eyes {
    width: 6.5rem;
    height: 32px;
    background-image: url("img/eyes_open.svg");
  }

  &__hand {
    width: 72px;
    height: 5.5rem;
    background-image: url("img/ok_hand.svg");
    align-self: flex-end;
  }

  &__eyes,
  &__hand {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__heading {
    font-size: $h3-size;
    margin-bottom: 3rem;
  }

  &__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    border-bottom: solid 3px $light-color;
    padding-bottom: 12px;
  }

  &__email,
  &__submit {
    background: none;
    border: none;
    font-size: $body-size;
    outline: none;
    cursor: pointer;
  }

  &__email {
    cursor: text;
  }
}

/*------------------------------------*\
  #PAGE-FOOTER
\*------------------------------------*/

.footer {
  @include flex-align-center;
  padding-block: 1rem;
  background-color: $light-color;
  color: $dark-color;
  font-size: $smaller-body-size;

  &__socials a {
    text-decoration: none;
    padding: 0.25rem;
  }

  &__instagram,
  &__facebook {
    max-width: 1.25rem;
  }

  &__instagram {
    margin-right: 0.25rem;
  }

  &__logo {
    height: 1.75rem;
  }
}

/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

@media (min-width: 600px) {
  .card-wide {
    grid-column: span 2 / auto;
  }
}

@media (min-width: 1080px) {
  .card-tall {
    grid-row: span 2 / auto;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 12px;
  }

  .details {
    &__location,
    &__hours,
    &__connect {
      align-self: end;
    }

    &__grid {
      grid-template-columns: none;
    }

    &__connect {
      padding-bottom: 33px;
    }
  }

  .register {
    flex-direction: column;
  }
}

@media (max-width: 1020px) {
  .header {
    &__link img {
      visibility: hidden;
    }

    &__logo {
      height: 30px;
    }
  }
}

@media (max-width: 860px) {
  html {
    font-size: 10px;
  }

  $smaller-body-size: 14px;

  body {
    font-size: 16px;
  }

  .header {
    &__logo {
      height: 25px;
    }
  }

  .details {
    &__connect {
      padding-bottom: 34px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    padding-inline: 4rem;
  }

  .container--narrow {
    padding-inline: 4rem;
  }

  .about {
    flex-direction: column;

    &__3-words {
      text-align: center;
    }

    &__paragraph {
      max-width: 100%;
    }
  }
}

@media (max-width: 597px) {
  .details {
    &__connect {
      padding-bottom: 0px;
    }
  }
}

@media (max-width: 580px) {
  .container {
    padding-inline: 2rem;
  }

  .container--narrow {
    padding-inline: 2rem;
  }

  .hero {
    &__text {
      font-size: $h2-size;
    }
  }

  .header {
    &__logo {
      height: 20px;
    }
  }
}

@media (max-width: 525px) {
  .details {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 420px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;

    &__text {
      visibility: hidden;
    }

    &__image {
      margin-top: 2rem;
      max-width: 240px;
    }
  }

  .about {
    position: relative;

    &__3-words {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $h1-size;
    }

    &__organic {
      color: $dark-color;
    }

    &__local {
      color: $light-color;
    }
  }
}

/*------------------------------------*\
  #CLASSES-ADDED-BY-JS
\*------------------------------------*/

.scrolled {
  background-color: $light-color;
  padding-block: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
